run = "npm start"
  language = "nodejs"
modules = ["nodejs-20"]

  [deployment]
  run = ["npm", "start"]
  deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"
waitForPort = 8081

[workflows.workflow.metadata]
outputType = "console"
  