run = "npm start"
  language = "nodejs"
modules = ["nodejs-20", "postgresql-16"]

  [deployment]
run = ["npm", "start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"
waitForPort = 8081

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
BOTBEE_API_TOKEN = "18586|wNNF04uDdR6fFHZwBPpcPQcMDQJ1yqauLNaxWkHP6eaed2ba"
BOTBEE_PHONE_NUMBER_ID = "965912196611113"
BOTBEE_WHATSAPP_API_KEY = "18586|wNNF04uDdR6fFHZwBPpcPQcMDQJ1yqauLNaxWkHP6eaed2ba"
BOTBEE_API_KEY = "18586|wNNF04uDdR6fFHZwBPpcPQcMDQJ1yqauLNaxWkHP6eaed2ba"
BOTBEE_BUSINESS_ID = "2322353164933958"
BOTBEE_API_URL = "https://app.botbee.io/api/v1"
META_WHATSAPP_TOKEN = "EAALZCchXOSMsBQrZCDxA6Kei5C7Q7Q91lckxYFZC80l2kWsAJMfqKFDG0sqMDwgiStnqn0IoV3Yov2kjU4I8aLkv9QfbreRZCitd7ztGL1RbmwAiBcfldo4KAcAgXLiapwrTTPpDWjkFpIQMoxQj3CZA8os4aNRqcKH3OTjbYlF57dOsrRH7S2VRS0git2uWJBuu2xiP7mJxteBIrBs0HnwXyYpmFoy20gVUOGYO7FiRlZBH43XbKZCxQFukWFdJ3BYQlxOJoPZBPZBKaij4HZCgLsYnfddhJSKnnY"

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]
  